<div>
    <canvas id='{{cardVal.id}}' (click)='onChartClick($event)'> <!-- (click)='onChartClick($event)' -->
    </canvas>
    <div>
        <button (click)='onFilter()'>
            bigger then
        </button>
        <input [(ngModel)]='inputBig' (keyup.enter)='onFilter()'/>
    </div>
    <div>
        <button (click)='onFilter()'>
                smaller then
        </button>
        <input [(ngModel)]='inputSmall' (keyup.enter)='onFilter()'/>
    </div>
    <div>
        <button (click)='onFilter()'>
            top number
        </button>
        <input [(ngModel)]='topListInput' (keyup.enter)='onFilter()'/>
    </div>
    <div>
        <button (click)='onFilter()'>
            buttom number
        </button>
        <input [(ngModel)]='botListInput' (keyup.enter)='onFilter()'/>
    </div>
</div>