<div (window:resize)="onResize($event)" class="grid-container">
  <h1 class="mat-h1">Dashboard
    <button (click)="onAdd()">Add</button>
  </h1>
  <div>
    <button (click)='onAddCol()' id=add>Add Col</button>
    <button (click)='onRemoveCol()' id=remove>Remove Col</button>
  </div>
  <mat-grid-list id='grid-container' [cols]="grid">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card id='db-container' class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <button (click)="onTitleClick()" [matMenuTriggerFor]="TitleMenu" aria-label="Toggle TitleMenu">
              {{card.title}}
            </button>
            <mat-menu #TitleMenu="matMenu" xPosition="before">
                <button (click)="onTitleChange(cardTitle, card.title)" *ngFor="let cardTitle of cardsTitles" mat-menu-item>
                  {{cardTitle}}
                </button> <!--*ngFor="let card of cards"-->
            </mat-menu>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Edit</button>
              <button (click)="onExpand()" mat-menu-item>Expand</button>
              <button mat-menu-item (click)="onRemove(card)">Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <div flex layout="row">
          <mat-card-content flex class="dashboard-card-content">
            <div fxLayoutAlign="start start" [ngSwitch]="card.title">
              <div *ngSwitchCase="'db_ver 1'">
                <app-chart-db-ver></app-chart-db-ver>
                <!--<canvas id=canv></canvas>-->
              </div>
              <div *ngSwitchDefault>
                {{card.CardContent}}
              </div>
            </div>
          </mat-card-content>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
